.nav{
    background-color: red;
    display: flex;
    height: 100px;
    justify-content: space-around;
}

.achor{
    text-decoration: none;
    color: white;
}

.text{
    color: blue;
    font-size: 50px;
}